body{
    background:#20262d;
    font-family:Helvetica, Arial, sans-serif;
    margin:0;
    padding:0;
    color:white;
}

h1{
    text-align:center;
    background:linear-gradient(#3d3d3d,#1f1f1f);
    margin:0;
    padding:15px;
    font-size:34px;
}

table{
    width:100%;
    border-collapse:collapse;
}

tr:nth-child(even){
    background:#d9dde2;
}

tr:nth-child(odd){
    background:#eef2f5;
}

td{
    color:black;
    padding:12px;
    font-size:24px;
}

.pianeta{
    width:40%;
}

.grado{
    width:25%;
    text-align:center;
}

.segno{
    width:35%;
    text-align:center;
    font-size:30px;
}